@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>@ViewData["quote"]</h2>
    <p class="lead">
        <b>Author:</b> @ViewData["author"]<br />
        <b>Category:</b> @ViewData["category"]<br />
    </p>
</div>